<div class="nav">
  <p class="emoji">🍸</p>
  <%= link_to "add a cocktail", new_cocktail_path, class: "btn" %>
</div>
<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="content">
        <%#= image_tag 'https://images.unsplash.com/photo-1566733971017-f6a46e832e95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80', class:"img" %>
        <% if @article.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, class:"img" %>
        <% end %>
        <div class="context">
          <h2><%= cocktail.name %></h2>
          <%= link_to "see more", cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
