//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

//media
$xsmall: 600px;
$small: 767px;
$medium: 992px;
$large: 1024px;
$xlarge: 1199px;
$max-width: 1440px;

//color
$black: #293241;
$font-stack: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
}

html {
  font-family: $font-stack;
}

body {
  margin: 0;
}

h2 {
  font-weight: normal;
}


button,
input[type='submit'] {
  background: none;
  border-radius: 0;
}

.btn {
  color: #fff;
  font-family: roboto;
  text-decoration: none;
  border: 1px solid $black;
  padding: 14px;
  border-radius: 4px;
  background-color: $black;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
}

.emoji {
  font-size: 22px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 150px;

    @media only screen and (max-width: #{$xsmall}) {
     display: block;
     margin: 50px;
  }
}

.container::after {
    content: "";
    display: block;
    height: 0;
    width: 28%;
    margin: 25px;

  @media only screen and (max-width: #{$small}) {
     width: 43%;
  }
}

.content {
  margin: 25px;
  flex: 28%;

    @media only screen and (max-width: #{$small}) {
     flex: 43%;
  }
}

.img {
  max-width: 100%;
}

.context {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 10px 5px;
}

.card-link {
  color: $black;
  text-decoration: none;
  font-family: roboto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  display: none
}

.invalid-feedback {
  font-size: 11px;
  margin-left: 25px;
  position: absolute;
  top: 0;
}

.form-group {
  position: relative;
}
